doctype html
html(lang='en')
head
    title boilderplate
    link(rel=stylesheet src='./public/styles/style.css')
body
    .container#app
        h1.title Boilerplate Template
        h2.sub-title Setup Files 
        header.main-header
            h2.title This is the header
            p.text This is a paragraph tag
        main.main-content
            section.content
                h2.title This is a content section with an update. 
            section.content
                h2.title This is a 2nd content section with update. 
        footer.main-footer
            p.text This is the footer
